#candleChart{
    background-color:black;
    display:grid; 
   /*  direction: rtl;*/
   
   
  
    grid-auto-flow: column;
  /* padding-bottom:10px;
    padding-top:10px;
    overflow-x:scroll;
    overflow:auto;*/
    width:100vw;
    height:80vh;
}
.chartController{
  position:relative;
  color:white;
  height:5vh;
  width:100vw;
  float:right;
  background-color:black;

}
ul{
  padding:0;
  margin:0;
}
input{
  width:50px;
  height:15px;
  background-color:skyblue;
}
/* The container must be positioned relative: */
select {
position: relative;
background-color:lightblue;
font-family: Arial;
height:20px;
}

select-selected {
background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
select-items div,select-selected {
color: #ffffff;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
}

/* Style items (options): */
select-items {
position: absolute;
background-color: DodgerBlue;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/* Hide the items when the select box is closed: */
select-hide {
display: none;
}

select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
} 