.condition{
  display:grid;
  position: absolute;
  height:25vh;
  width:500px;
  z-index:1;
  margin-left:-250px;
  top:50%;
  left:50%;

  
  padding:15px;
  background-color:black;
  padding-bottom:5px; 
  border: solid 1px white;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
  }

  @keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
  }





  select {
/* Reset Select */
appearance: none;
outline: 10px red;
border: 0;
box-shadow: none;
/* Personalize */
flex: 1;
padding: 0 1em;
color: #fff;
 border-radius: .25em;
border-color:white;
background-color: var(--darkgray);
background-image: none;
cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
display: none;
}
/* Custom Select wrapper */
.select {
position: relative;
display: flex;
width: 20em;
height: 3em;
border-radius: .25em;
border-color:white;
overflow: hidden;
}
/* Arrow */
.select::after {
content: '\25BC';
position: absolute;
top: 0;
right: 0;
padding: 1em;

transition: .25s all ease;
pointer-events: none;
}
/* Transition */
.select:hover::after {
color: #f39c12;
}

option{
  background:black;
}